<nav class="navbar bg-dark navbar-dark fixed-top navbar-expand-sm">

    <a class="navbar-brand" href="http://inroad.co"><img src="/assets/img/Inroad_logo_2W.png" width="100" class="d-inline-block align-top"></a>

        <ul class="navbar-nav navbar-right">
            <li class="nav-item">
                    <span class="navbar-text">
                      Profile
                    </span>
            </li>
            <li class="nav-item">
                  <div class="inset">
                    <img src="http://rs775.pbsrc.com/albums/yy35/PhoenyxStar/link-1.jpg~c200">
                  </div>
            </li>
            <li class="nav-item">
                <a class="btn my-2 my-sm-0 btn-outline-light mr-1" id= "btn-login" role="button" onclick="login()">Login</a>
                <a class="btn my-2 my-sm-0 btn-outline-light hidden" id= "btn-logout" role="button" onclick="logout()">Logout</a>
            </li>
        </ul>
    </div>
</nav>
