<nav class="navbar bg-dark navbar-dark fixed-top justify-content-between">

        <a class="navbar-brand" href="http://inroad.co"><img src="/assets/img/Inroad_logo_2W.png" width="100" class="d-inline-block align-top"></a>

        <form class="form-inline">
                <a onclick="login()" <button class="btn my-2 my-sm-0 btn-outline-light mr-1" role="button" onclick="login()">Login</button></a>
                <a class="btn my-2 my-sm-0 btn-outline-light" role="button" onclick="logout()">Logout</a>

        </form>

</nav>
