---
---
@import "{{ site.theme }}";


body {
  font-family: Poppins,-apple-system,BlinkMacSystemFont,Segoe UI,Helvetica,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol;
  width: 65%;
  margin-left: 8%;
}

h1 {
  border-bottom: 1px solid #eaecef;
  padding-bottom: .3em;
  font-size: 2em;
  font-weight: 600;
  line-height: 1.25;
  margin-bottom: 16px;
  margin-top: 1em;
  font-family: Merriweather, serif;
}

h2 {
  font-size: 2em;
  border-bottom: 1px solid #eaecef;
  padding-bottom: .3em;
  font-weight: 600;
  line-height: 1.25;
  margin-bottom: 16px;
  margin-top: 24px;
  font-family: Merriweather, serif;
}

h3 {
  font-family: Merriweather, serif;
}

p {
  margin-bottom: 16px;
  margin-top: 0;
  font-size: 16px;
  line-height: 1.5;
}

blockquote {
  line-height: 1.5;
  margin-left: 0;
  margin-right: 0;
  /* background-color: #e8e8e8; */
  border-radius: 0.05em;
  padding: 1em;
}

iframe {
  margin: 0 auto;
  display: block;
}

.article {
  background-color: #f4f9fb;
  padding: 2em;
  border: 1px solid #c1d1d6;
}

.citation {
  font-size: 10px;
  font-style: italic;
}

.timeframe {
  padding: 0.4em;
  background-color: #e2e2e2;
  border-radius: 0.25em;
  font-family: monospace;
}

.congratulations-message {
  padding: 2em;
  background-color: #5dffcb;
  border-radius: 4px;
  margin-top: 24px;
}

.congratulations-message p {
  margin-bottom: 0;
}

.profile img {
  border-radius: 50%;
  margin-left: 3px;
  width: 25px;
  margin-right: 8px;
  position: relative;
  top: 5px;
}

.video-responsive{
    position: relative;
    overflow: hidden;
    padding-top: 56.25%;
}

.video-responsive iframe{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
}

.audio-responsive{
    position: relative;
    overflow: hidden;
    padding-top: 25%;
}

.audio-responsive iframe{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
}

a:hover{
    font-weight:normal;
}

a:visited{
    font-weight:normal;
    color: red;
}

@media only screen and (max-width: 600px) {
  body {
    width: 95%;
    margin: 0 auto;
  }

  #disqussions_wrapper {
    display: none;
  }

  .disqussion {
    display: none;
  }
}

.hidden {
  display: none  !important;
}

label {
  margin-bottom: 10px;
  display: block;
}

.inset {
  width: 38px;
  height: 38px;
  background-color: transparent !important;
  z-index: 999;
}

.inset img {
  border-radius: 50%;
  width: inherit;
  height: inherit;
  display: block;
  position: relative;
  z-index: 998;
}

.navbar {
    position: sticky;
    top: 0px;
    display: block;
    padding-right: 10% !important;
    padding-left: 10% !important;
    height: 100px;
    justify-content: center;
    align-items: center;
    background-color: white;
    box-shadow: 7px 7px 55px 0 hsla(263, 8.47%, 39.95%, 1);
}

.auth0-lock.auth0-lock .auth0-lock-name {
  font-size: 18px !important;
  white-space: normal !important; 
  overflow: visible !important;
  padding: 32px 10px 0px 10px !important;
}

.auth0-lock.auth0-lock .auth0-lock-widget {
    width: 375px !important;
}

.auth0-lock.auth0-lock .auth0-lock-form {
    padding: 0px 40px !important;
}

.auth0-lock.auth0-lock .auth0-lock-social-button.auth0-lock-social-big-button .auth0-lock-social-button-text {
    text-align: center !important;
}

.auth0-lock.auth0-lock .auth0-lock-header-bg {
    height: 104px !important;
}

.auth0-lock.auth0-lock .auth0-lock-header-logo {
    margin: 10px 0px !important;
}

.auth0-lock.auth0-lock .auth0-lock-header .auth0-lock-header-bg { 
  background-color: #F0F0F0; 
}

.auth0-lock-iphone.auth0-lock .auth0-lock-form {
  display: initial !important; 
}

.auth0-lock .auth0-lock-content {
  padding: 20px; 
}


